{{ define "main" }}
  <article class="container-prose">
    <header class="post-header">
      <div class="post-header__meta">
        {{ if not .Date.IsZero }}
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ end }}
        {{ with .Params.featured }}{{ if . }}<span class="badge">Featured</span>{{ end }}{{ end }}
      </div>

      <h1 class="post-header__title">{{ .Title }}</h1>

      {{ with .Description }}
        <p class="post-header__lead">{{ . }}</p>
      {{ end }}
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>

    <footer class="post-footer">
      {{ with .Params.tags }}
        <div>
          Tags:
          {{ range . }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>{{ end }}
        </div>
      {{ end }}
    </footer>
  </article>
{{ end }}
